body{
    background-color: black;
    color: white;
}

.products-section {
    display: flex;
    justify-content: space-evenly;

}

.product-stand-wrap {
    position: relative;
    width: 15vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.product-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10vw;
    height: 13vh;
    z-index: 2;
}

.stand-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
    height: 20vh;
    z-index: 1;
}

.product-stand-wrap h3 {
    position: absolute;
    bottom: -6vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 3;
}
.nav-container {
    display: flex;
    justify-content: center;
    
        backdrop-filter: blur(10px);
        /* box-shadow: 2px 3px 4px white; */
    /* background-color: rgba(255, 255, 254, 0.5); */
    padding: 25px 0;
    position: fixed;
opacity: 0.7;
border: solid 1px white;
    border-radius: 25px;
    width: 88vw;
    margin-left: 5vw;
    margin-right: 5vw;
    /*  */
    top: 2vh;
    z-index: 1000;
    margin-top: 1vh;
}
.nav-container nav {
    display: flex;
    
    justify-content: space-evenly;
}
.nav-container nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
.nav-container nav ul li {
    margin: 0 15px;
}
.nav-container nav ul li a {
    opacity: 1;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.hero-section{
    background-color: cornflowerblue;
    display: flex;
    margin-top: 10vh;
    width: 95vw;
    margin-left: 1.5vw;
    height: 87vh;
    border-radius: 20px;
    position: relative;
    
}
.hero-imgs{
    left: 50%;
    top: 15%;
    position: absolute;
    background-color: burlywood;
    width: 45%;
    height: 70%;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    
}
.hero-text
{
    position: absolute;
    left: 5%;
    top: 15%;
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.footer
{
margin-top: 3vh;  
  width: 97vw;
    border: 1px solid white;
    border-radius: 10px;
   backdrop-filter: blur(10px);
}

.footer-content {
    padding: 10px;
    
    color: white;
}
.footer-links ul{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    
    list-style: none;
    
}
.footer-links ul li a {
    text-decoration: none;
 padding-left: 3vw;
 display: flex;
 
}

.footer-content h2{
    text-align: left;
}

.footer-content p{
    
    justify-content: center;
}
.footer-copyright{
display: flex;
    justify-content: center;
}